{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="front-photo">
    <div id="front-photo-text">
        <h3 class="slogan">Start</h3>
        <h3 id="larger" class="slogan">your journey</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

<div class="container locations">
    <div class="row justify-content-center">
        <!-- Banner takes 8 columns -->
        <div class="col-6 banner text-center">
            <!-- Top row -->
            <div class="row">
                <div class="col-12">
                    <h1>Driving School</h1>
                </div>
                <!-- <div class="col-12">
                    <h2 class="locations">Cardigan Carmarthen Aberystwyth</h1>
                </div> -->
            </div>

            <!-- Second row: Locations -->
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h2>Cardigan</h2>
                </div>
                <div class="col-12 col-sm-4">
                    <h2>Carmarthen</h2>
                </div>
                <div class="col-12 col-sm-4">
                    <h2>Aberystwyth</h2>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="col-12 mt-3 left">
            <div class="row">
                {% for block in content_blocks_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ block.title }}</h2>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}