{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Section of Instructors -->
        <div class="col-12 mt-20 left">
            <div class="row">
                {% for block in content_blocks_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if block.block_image %}
                                <img class="card-image-left" src="{{ block.block_image.url }}" alt="{{ block.title }}">
                                {% endif %}
                            </div>
                            <div class="post-link">
                                <!-- If there is no image for the block, different style of is used -->
                                <div class="{% if not block.block_image %}decorated{% endif %}">
                                    <h3 class="card-title">{{ block.title }}</h3>
                                </div>
                            </div>
                            <p>{{ block.content | safe }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}