{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Section of Instructors -->
<div class="container content-section py-4">
    {% for block in content_blocks_list %}
    <div class="row content-block mb-5 align-items-start">
        {% if block.block_image %}
        <div class="col-md-4 text-center image-column">
            <img src="{{ block.block_image.url }}"
                 alt="{{ block.title }}"
                 class="content-image img-fluid rounded">
        </div>
        {% endif %}
        <div class="{% if block.block_image %}col-md-8{% else %}col-12{% endif %} text-column">
            <h3 class="content-title mb-3">{{ block.title }}</h3>
            <div class="content-text">
                <p>{{ block.content|safe }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}