:root {
    --main-color: #00cc44; /* Defines the variable */
    --second-color: black;
    --third-color: #198754;
    --font-size: 16px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}

body {
    padding-top: 60px;
}

/* Brand Logo */
.navbar-brand .go {
    color: var(--main-color);
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
}
.navbar-brand .drive {
    color: var(--second-color);
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
}

.banner {
    color: rgba(0, 0, 0, .55);
    background-color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
}

/* User icon color */
.fa-user, .green-text {
    color: var(--main-color) !important;
}

/* Log Out button */
.btn-danger {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: black;
}


#front-photo {
    padding-top: 100px;
    position: relative;
    background: url("../images/frontimage.717e3f46c4e8.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 65%;
    height: 60vh;
    width: 100%;
    overflow: hidden;
}

.slogan {
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 0 0 5px #383838, -1px 0px 3px #5c5c5c, 0 0 30px #c9c9c985;
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#larger {
    font-size: 350%;
}

/* Home */

    .locations {
        margin-top: 10px;
    }

    .locations h1, h2 {
        color: white;
        margin-top: 3px;
        font-size: 120%;
    }

    .locations h2 {
        color: white;
        font-size: 100%;
        padding-bottom: 3px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        display: block;
    }

    .card-image-left {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: block;
    }
    
    .decorated {
        color: #00cc44;
    }

/* My booking */

#green-text {
    color: var(--third-color);
}

.table-heading {
    background-color:#198754;
    color: white;
}
#edit {
    color:#198754;
    margin-right: 9px;
}

#delete {
    color: #87193a;
    margin-left: 9px;
}

/* Instructors */

.content-block .image-column {
    margin-bottom: 1rem;
}

.content-image {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
}

.content-title {
    font-weight: 600;
}

.content-text p {
    margin-bottom: 0;
    line-height: 1.6;
}

/*---------------------------------------------------------------------------------*/
/* Media queries */
@media screen and (max-width: 760px) {
    .content-image {
        max-width: 280px;
        max-height: 280px;
    }
}

@media screen and (min-width: 992px) {
    .slogan {
    margin-top: 10px;
    color: #ffffff;
    text-shadow: 0 0 5px #383838, -1px 0px 3px #5c5c5c, 0 0 30px #c9c9c985;
    font-size: 400%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#larger {
    font-size: 600%;
}
.locations {
    margin-top: 15px;
}

.locations h1 {
    color: white;
    margin-top: 3px;
    font-size: 150%;
}

.locations h2 {
    font-size: 100%;
    padding-bottom: 5px;
}
}